@{
    ViewData["Title"] = "Unidades de Medida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">       
        <span class="fw-bold fs-5">
            <i class="fa-solid fa-ruler-combined me-2"></i> Unidades de Medida
        </span>
        
        <button class="btn btn-primary" onclick="nuevaUnidad()">
            <i class="fa-solid fa-plus me-1"></i> Nueva Unidad
        </button>
    </div>

    <div class="card-body">
        <div class="table-responsive">

            <table id="tbdata" class="table table-striped table-hover align-middle w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>ABREVIATURA</th>
                        <th class="text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/UnidadesMedida/Modals/AddModel.cshtml")
@await Html.PartialAsync("~/Views/UnidadesMedida/Modals/UpdateModel.cshtml")

@section Scripts {
    <script src="~/js/vistas/Unidades_Index.js" asp-append-version="true"></script>
}