USE [master]
GO
/****** Objeto: Database [SistemaInventario] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE DATABASE [SistemaInventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaInventario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaInventario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaInventario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaInventario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaInventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaInventario]
GO
/****** Objeto: Table [dbo].[Categoria] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Marcas] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MovimientosInventario] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosInventario](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TipoMovimiento] [nvarchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Stock] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUnidad] [int] NOT NULL,
	[FechaExpiracion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](12) NULL,
	[Correo] [nvarchar](150) NULL,
	[Direccion] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UnidadesMedida] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadesMedida](
	[IdUnidad] [int] IDENTITY(1,1) NOT NULL,
	[NombreUnidad] [nvarchar](100) NOT NULL,
	[Abreviatura] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Clave] [nvarchar](220) NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Diego', N'asdsd')
INSERT [dbo].[Categoria] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (4, N'ddd', N'ij')
INSERT [dbo].[Categoria] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (5, N'dddd', N'dasd')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([IdMarca], [NombreMarca], [Descripcion]) VALUES (1, N'Josue', N'1234')
INSERT [dbo].[Marcas] ([IdMarca], [NombreMarca], [Descripcion]) VALUES (2, N'asd', N'asdad')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[MovimientosInventario] ON 

INSERT [dbo].[MovimientosInventario] ([IdMovimiento], [IdProducto], [IdUsuario], [TipoMovimiento], [Cantidad], [FechaMovimiento]) VALUES (12, 2, 1, N'Salida', 2, CAST(N'2026-05-19T15:34:02.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[MovimientosInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Descripcion], [Stock], [StockMinimo], [Estado], [IdCategoria], [IdMarca], [IdProveedor], [IdUnidad], [FechaExpiracion]) VALUES (2, N'Coca', N'123', 3, 1, 1, 1, 2, 7, 3, CAST(N'2026-05-30' AS Date))
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Descripcion], [Stock], [StockMinimo], [Estado], [IdCategoria], [IdMarca], [IdProveedor], [IdUnidad], [FechaExpiracion]) VALUES (3, N'Coca123', N'dasd', 1, 55, 1, 4, 2, 6, 3, NULL)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Descripcion], [Stock], [StockMinimo], [Estado], [IdCategoria], [IdMarca], [IdProveedor], [IdUnidad], [FechaExpiracion]) VALUES (5, N'dasd', N'da3213', 1, 54, 1, 1, 1, 4, 3, CAST(N'2026-05-23' AS Date))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IdProveedor], [NombreProveedor], [Telefono], [Correo], [Direccion]) VALUES (4, N'dasda', N'123e', N'Josue@gmail.com', N'dasd')
INSERT [dbo].[Proveedores] ([IdProveedor], [NombreProveedor], [Telefono], [Correo], [Direccion]) VALUES (5, N'dasda', N'123e', N'Josue@gmail.com', N'dasd')
INSERT [dbo].[Proveedores] ([IdProveedor], [NombreProveedor], [Telefono], [Correo], [Direccion]) VALUES (6, N'dasdaasda', N'asdasd', N'asdasd@gmail.com', N'c<zx')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'operador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (3, N'Darkvaider')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UnidadesMedida] ON 

INSERT [dbo].[UnidadesMedida] ([IdUnidad], [NombreUnidad], [Abreviatura]) VALUES (3, N'dasd', N'asd')
SET IDENTITY_INSERT [dbo].[UnidadesMedida] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Correo], [Clave], [IdRol]) VALUES (1, N'Diego', N'Diego@gmail.com', N'EF797C8118F02DFB649607DD5D3F8C7623048C9C063D532CC95C5ED7A898A64F', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Objeto: Index [MovimientosInventario_Fecha] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [MovimientosInventario_Fecha] ON [dbo].[MovimientosInventario]
(
	[FechaMovimiento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Productos_Nombre] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Nombre] ON [dbo].[Productos]
(
	[NombreProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [Productos_Categoria] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [Productos_Categoria] ON [dbo].[Productos]
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [Productos_Marcas] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [Productos_Marcas] ON [dbo].[Productos]
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [Productos_Proveedores] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [Productos_Proveedores] ON [dbo].[Productos]
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [Productos_Unidades] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [Productos_Unidades] ON [dbo].[Productos]
(
	[IdUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [Proveedores_Nombre] Fecha de script: 1/7/2026 17:31:00 ******/
CREATE NONCLUSTERED INDEX [Proveedores_Nombre] ON [dbo].[Proveedores]
(
	[NombreProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__60695A191774C271] Fecha de script: 1/7/2026 17:31:00 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MovimientosInventario] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_Movimientos_Productos]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_Movimientos_Usuarios]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([IdMarca])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Unidades] FOREIGN KEY([IdUnidad])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidad])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Unidades]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Objeto: StoredProcedure [dbo].[sp_InsertProducto] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================
-- PROCEDIMIENTO ALMACENADO PARA INSERTAR PRODUCTOS
-- ========================
CREATE PROCEDURE [dbo].[sp_InsertProducto]
    @NombreProducto NVARCHAR(150),
    @Descripcion NVARCHAR(250),
    @Stock INT,
    @StockMinimo INT,
    @Estado BIT,
    @IdCategoria INT,
    @IdMarca INT,
    @IdProveedor INT,
    @IdUnidad INT,
    @FechaExpiracion DATE 
AS
BEGIN
    INSERT INTO Productos (
        NombreProducto,
        Descripcion,
        Stock,
        StockMinimo,
        Estado,
        IdCategoria,
        IdMarca,
        IdProveedor,
        IdUnidad,
        FechaExpiracion
    )
    VALUES (
        @NombreProducto,
        @Descripcion,
        @Stock,
        @StockMinimo,
        @Estado,
        @IdCategoria,
        @IdMarca,
        @IdProveedor,
        @IdUnidad,
        @FechaExpiracion
    );
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RestarStock] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_RestarStock]
    @IdProducto INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si existe el producto
    IF EXISTS (SELECT 1 FROM Productos WHERE IdProducto = @IdProducto)
    BEGIN
        -- Verificar si hay suficiente stock
        IF (SELECT Stock FROM Productos WHERE IdProducto = @IdProducto) >= @Cantidad
        BEGIN
            UPDATE Productos
            SET Stock = Stock - @Cantidad
            WHERE IdProducto = @IdProducto;
        END
        ELSE
        BEGIN
            RAISERROR('Stock insuficiente para este producto.', 16, 1);
        END
    END
    ELSE
    BEGIN
        RAISERROR('El producto no existe.', 16, 1);
    END
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_SumarStock] Fecha de script: 1/7/2026 17:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_SumarStock]
    @IdProducto INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si existe el producto
    IF EXISTS (SELECT 1 FROM Productos WHERE IdProducto = @IdProducto)
    BEGIN
        UPDATE Productos
        SET Stock = Stock + @Cantidad
        WHERE IdProducto = @IdProducto;
    END
    ELSE
    BEGIN
        RAISERROR('El producto no existe.', 16, 1);
    END
END;
GO
USE [master]
GO
